
.search-bar{
    /* background-color: aquamarine; */
    width: 100vw;
    height: 2.7rem;
   padding-top: 0;
}
input[type="search" i] {
    width: 100%;
    padding: 12px 20px;
    /* margin: 8px 0; */
    box-sizing: border-box;
    border: 1px solid #858181;
    border-radius: 0.4rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
